name: PR Compile Check

on:
  pull_request:
    branches:
      - main

jobs:
  pr-compile-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm install

      - name: Compile Check
        run: npx tsc --noEmit

      - name: Prettier Check
        run: npx prettier --check .

      - name: Eslint Check
        run: npx eslint . --ext .ts,.js --max-warnings=0
